.contactsBlock {
    background-color: lightslategray;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    background-color: lightgrey;
}

.socSeti {
    width: 280px;
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px
}

.seti {
    background-color: #c6c5c5;
    height: 100%;


}

.root {
    background-color: lightgrey;
}